Flask>=0.10.1
Jinja2>=2.8
Markdown>=2.6.2
MarkupSafe>=0.23
PyYAML>=3.11
Pygments>=2.0.2
Werkzeug>=0.10.4
bokeh>=0.9.3
colorama>=0.3.3
greenlet>=0.4.9
itsdangerous>=0.24
jdcal>=1.0
numpy>=1.9.2
openpyxl==1.8.6
pandas>=0.16.2
py>=1.4.30
pystache>=0.5.4
pytest>=2.8.0
python-dateutil>=2.4.2
pytz>=2015.4
pyzmq>=14.7.0
requests>=2.7.0
scipy>=0.16.0
six>=1.9.0
tornado>=4.2.1
xlrd>=0.9.4
